body {
  background-color: #F0E68C;
}

style {
  font-family: 'Times New Roman';
}

h1 {
  text-align: center;
  font-size: 400%;
}

h2 {
  text-align: center;
  font-size: 300%;
}

p {
    text-align: justify;
    font-size: 200%;
    margin: 10px;
    right: 100%;
}

div {
  margin: 10px;
}

div.list {
    font-size: 200%;
    margin-right: 0%;
    max-width: 50%;
    margin: 10px;
    padding: 5px;
}

div.float {
    float: right;
    margin-left: 0%;
    margin: 10px;
}

img.left {
  float: left;
  margin: 10px;
  width: 20%;
}

img.right {
  float: right;
  width: 150%;
}

a {
    font-size: 24px;
    font-family: "Comic Sans MS"
}

figure {
  text-align: end;
  margin-top: 20%;
}

figcaption {
  font-size: 100%;
}

ul {
  text-align: justify;
}

ol {
  text-align: justify;
}